body {
    background-color: whitesmoke;
}
h1 {
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(137, 137, 193);
   

}
img {
    border: 10px solid blue;
    width: 50%;
    height: 50%;
    margin-left: 10px;
    float: left

}
h2 { 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#highlight {
    color: darkblue;
    border: 10px dotted white;
}
.top {
    background-color: lightblue;

}
.bottom {
    background-color: yellow;
    float: left;
    color: black;
}